input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cow{
  background-color: rgb(144, 253, 144);
}
.buff{
  background-color: rgb(160, 158, 158);
  color: white;
}